executor{
    memory = 12.GB
}

process {
    memory = { 1.GB * task.attempt }
    withLabel:process_single {
        cpus   = { 1                   }
        memory = { 1.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }
    withLabel:process_low {
        cpus   = { 2     * task.attempt }
        memory = { 1.GB  * task.attempt }
        time   = { 4.h   * task.attempt }
    }
    withName: DIGEST {
        memory = 6.GB
    }
    withName: RWR {
        memory = 6.GB
    }
}

